<%- include("partials/header") -%>

    <% if(posts.length>0){ %>
        <div class="posts-container">
            <% posts.forEach((post)=>{ %>
                <div class="post">
                    <h3 class="post-title">
                        <a href=<%=`/posts/${post.id}` %> >
                            <%= post.title %>
                        </a>
                        <form action=<%=`/posts/${post.id}/delete` %> method="post">
                            <button type="submit" class="post-delete">
                                <span class="material-icons">delete</span>
                            </button>
                        </form>
                    </h3>
                    <div class="post-content incomplete">
                        <%= post.content %>
                    </div>
                    <a class="post-link" target="_blank" href=<%=`/posts/${post.id}` %>>Read More</a>
                </div>
                <% }) %>
        </div>
        <% } else { %>
            <div class="add-post">
                <h1>No Posts Yet</h1>
                <h3>Click on Add Button to add a new post</h3>
            </div>
            <% } %>

                <%- include("partials/footer") -%>