<%- include("partials/header") -%>

    <div class="posts-container">
        <div class="post" style="width: 95%;">
            <h3 class="post-title">
                <a href=<%=`/post/${post._id}` %> >
                    <%= post.title %>
                </a>
                <form action=<%=`/post/${post._id}/delete` %> method="post">
                    <button type="submit" class="post-delete">
                        <span class="material-icons">delete</span>
                    </button>
                </form>
            </h3>
            <div class="post-content">
                <%= post.content %>
            </div>
        </div>
    </div>

    <%- include("partials/footer") -%>